body {
    padding: 0px;
    margin: 0px;
}

#friends {
    width: 15%;
    background-color: aqua;
    height: 100vh;
    float: left;
}

.friend {
    width: 100%
}

#chat {
    float: left;
    width: 85%;
    background-color: azure;
    margin: 0px;
    height: 100vh;
}

#history-container {
    overflow-y: scroll;
    position: relative;
    height: calc(100vh - 60px);
}

#history {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#message-box {
    height: 40px;
    width: 100%;
}

#sender {
    width: calc(100% - 100px);
    margin: 10px;
}

#message {
    width: calc(100% - 100px);
    margin: 10px;
}

#message-send {
    margin: 0px;
    width: 50px;
}

#end {
    margin: 10px;
    text-align: center
}

.messageContainer {
    height: 60px;
    width: 100%
}

.leftMessage {
    float: left;
    height: 40px;
    margin: 10px
}

.rightMessage {
    float: right;
    height: 40px;
    margin: 10px
}
