<!DOCTYPE html>
<html lang="en">

<head>
    <title>FitFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./buddy.js"></script>

    <script src="../global/js/global.js"></script>
    <link rel="apple-touch-icon" href="../global/img/fitfinder/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../global/img/fitfinder/favicon.png">
    <!-- Load Require CSS -->
    <link href="../global/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="../global/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="../global/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../global/css/custom.css">

    <!-- Bootstrap -->
    <script src="../global/js/bootstrap.bundle.min.js"></script>
    <!-- Load jQuery require for isotope -->
    <script src="../global/js/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="../global/js/isotope.pkgd.js"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function () {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function () {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
    </script>
</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="/profile">
                <span class="text-dark h4">Fit</span><span class="h4 finder">Finder</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="navbar-toggler-success">
                <div class="mx-xl-9 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item" style="padding: 10px; ">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/logger">Exercise
                                Log</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/forum">Forum</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/friends">Friends</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/chat">Chat</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/buddy">Find a Buddy</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" onclick="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->
    <center>
        <div id="container">
            <div class="slide-up">
                <p></p>
                <h2 class="h3 text-center col-12 py-5 semi-bold-600">1. Choose Activities</h2>
                <div class="form-check display: d-inline-block">
                    <input class="form-check-input" type="checkbox" id="tennis">
                    <label class="form-check-label" for="defaultCheck1">
                        Tennis
                    </label>
                </div>
                <p></p>
                <div class="form-check display: d-inline-block">
                    <input class="form-check-input" type="checkbox"  id="basketball">
                    <label class="form-check-label" for="defaultCheck2">
                        Basketball
                    </label>
                </div>
                <p></p>
                <div class="form-check display: d-inline-block">
                    <input class="form-check-input" type="checkbox"  id="hiking">
                    <label class="form-check-label" for="defaultCheck3">
                        Hiking
                    </label>
                </div>
                <p></p>
                <div class="form-check display: d-inline-block">
                    <input class="form-check-input" type="checkbox"  id="volleyball">
                    <label class="form-check-label" for="defaultCheck4">
                        Volleyball
                    </label>
                </div>
                <p></p>
                <div class="form-check display: d-inline-block">
                    <input class="form-check-input" type="checkbox"  id="swimming">
                    <label class="form-check-label" for="defaultCheck5">
                        Swimming
                    </label>
                </div>
                <p></p>
                <div class="form-check display: d-inline-block">
                    <input class="form-check-input" type="checkbox"  id="badminton">
                    <label class="form-check-label" for="defaultCheck6">
                        Badminton
                    </label>
                </div>
                <p></p>
                <p></p>
                <div class="slide-up">
                    <p></p>
                    <h2 class="h3 text-center col-12 py-5 semi-bold-600">2. Choose Preferred Location</h2>
                    <div class="form-check display: d-inline-block">
                        <input class="form-control light-300" style="width: 500px;" type="text"  id="location", placeholder="Address of the place you would like to meet up">
                    </div>
                    <p></p>
                    <p></p>
                    <div class="slide-up">
                        <p></p>
                        <h2 class="h3 text-center col-12 py-5 semi-bold-600">3. Choose Prefered Time</h2>
                        <p>When would you prefer to play?</p>
                        <label class="form-check-label" for="startDate">Starting from: </label>
                        <input id="startDate" type="datetime-local">
                        <br>
                        <br>
                        <label class="form-check-label" for="endDate">To: </label>
                        <input id="endDate" type="datetime-local">
                        <p></p>
                        <hr style="width: 50%; justify-content: center">
                        <p></p>
                        <button class="btn btn-primary rounded-pill btn-block shadow px-4 py-2 fs-3" type="button" onclick="searchBuddyRequest()">Search</button>
                        <button class="btn btn-primary rounded-pill btn-block shadow px-4 py-2 fs-3" type="button" onclick="postBuddyRequest()">Post</button>
                        <p></p>
                    </div>
                </div>
            </div>
    </center>
</body>

</html>