<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="./css/chat.css">
        <script src="./js/chat.js"></script>
    </head>
    <html>
    <body>
        <div id="friends">
            <div class="friend">
                hi
            </div>
        </div>
        <div id="chat" onload="connect()">
            <div id="history-container">
                <div id="history">

                </div>
            </div>
            <form id='message-box' onsubmit="return false">
                <input type="text" id="message">
    
                <button type="submit" id="message-send" onclick="send()">Send</button>
            </form>
        </div>
    </body>
</html>