<!DOCTYPE html>
<html lang="en">

<head>
    <title>FitFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./editprofile.js"></script>

    <script src="../global/js/global.js"></script>
    <link rel="apple-touch-icon" href="../global/img/fitfinder/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../global/img/fitfinder/favicon.png">
    <!-- Load Require CSS -->
    <link href="../global/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="../global/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="../global/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../global/css/custom.css">

    <!-- Bootstrap -->
    <script src="../global/js/bootstrap.bundle.min.js"></script>
    <!-- Load jQuery require for isotope -->
    <script src="../global/js/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="../global/js/isotope.pkgd.js"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function () {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function () {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
    </script>
</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="/profile">
                <span class="text-dark h4">Fit</span><span class="h4 finder">Finder</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                 id="navbar-toggler-success">
                <div class="mx-xl-9 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item" style="padding: 10px; ">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/logger">Exercise
                                Log</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/friends">Friends</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/chat">Chat</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/buddy">Find a Buddy</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/forum">Forum</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" onclick="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->

    <center>
        <form onsubmit="return false">
            <h2 class="h2 text-center col-12 py-5 semi-bold-600">Edit Profile</h2>
            <div class="form-floating">
                <input type="text" class="form-control light-300" id="name" name="name" placeholder="Full Name">
            </div>
            <p></p>
            <div class="form-floating">
                <input type="text" class="form-control light-300" id="bio" name="bio"
                    placeholder="Bio (max 280 characters)">
                <center>
                    <div style="width: 35%">
                        <p id="bioTooltip" style="position: relative; text-align: left; color: red; visibility: hidden">
                            Bio is too long! Must be under 280 characters, but is 300 characters long!</p>
                    </div>
                </center>
            </div>
            <div class="form-floating">
                <div style="width: 35%">
                    <label for="img">Upload Profile Image:</label>
                    <input type="file" class="form-control light-300" id="image" name="image" accept="image/*"
                        placeholder="Activity Description/Notes" style="width: 69%" onchange="previewFile()">
                </div>
                <center>
                    <div style="width: 35%">
                        <p id="imgTooltip" style="position: relative; text-align: left; color: red; visibility: hidden">
                            Please upload an image of your activity!</p>
                    </div>
                </center>
            </div>
            <img src="" id='previewimg' height="200" alt="Image preview..."><br><br>
            <p></p>
            <button class="btn btn-primary rounded-pill btn-block shadow px-4 py-2" type="submit"
                onclick="editProfile()">Save Changes</button>
            <p></p>
        </form>
    </center>

    <script>
        $(window).load(function () {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function () {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
    </script>
</body>

</html>