<!DOCTYPE html>
<html lang="en">

<head>

    <title>FitFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../global/img/fitfinder/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../global/img/fitfinder/favicon.png">

    <!-- Load Require CSS -->
    <link href="../global/global/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="../global/global/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="../global/css/templatemo.css">
    <!-- Custom CSS -->
    <title>FitFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../global/img/fitfinder/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../global/img/fitfinder/favicon.png">
    <!-- Load Require CSS -->
    <link href="../global/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="../global/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="../global/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../global/css/custom.css">
    <link rel="stylesheet" href="../global/cssloggerstyle.css">


</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="/profile">
                <span class="text-dark h4">Fit</span><span class="h4 finder">Finder</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="navbar-toggler-success">
                <div class="mx-xl-9 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item" style="padding: 10px; ">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/logger">Exercise
                                Log</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/forum">Forum</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/friends">Friends</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/chat">Chat</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/buddy">Find a Buddy</a>
                        </li>
                        <li class="nav-item" style="padding: 10px">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" onclick="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->
    <section id="header">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=1200&h=600&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F35%2F2019%2F04%2F03204148%2Ffb-boxer.jpg"
            style="width: 100%">
    </section>
    <section id="welcome">
        <div class="container">
            <div class="welcome text-center">
                <br>
                <h1> Activity Hub</h1>
                <p> Take Your Physical Fitness to the Next Level</p>

                <div class="chart">

                    </script>
                    <!-- Templatemo -->
                    <script src="assets/js/templatemo.js"></script>
                    <!-- Custom -->
                    <script src="assets/js/custom.js"></script>
                </div>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript" src="./logger.js">

                </script>

                <!-- these are the cards to be looped upon by Bennett TODO -->
                <div class="row">
                    <div class="col-6">
                        <div id="chart_div" style="height: 400px; text-align: center"></div>
                    </div>
                    <div class="col-6">
                        <div id="chart_div2" style="height: 400px; text-align: center"></div>
                    </div>
                </div>
                <a href="/activitylogger">
                    <button class="btn btn-primary rounded-pill btn-block shadow px-4 py-2">Add an Activity!</button>
                </a><br><br>
                <hr>
                <br>

            </div>
        </div>
    </section>
    <!--<section id="welcome20">
    <div class="container">
    <div class="welcome20 text-center">
    <h1> Activity Hub</h1>
    <p> Take Physical Fitness to the Next Level</p>
</section>
-->

    <!----
    <section id="welcome">
    <button type="submit" class="btn home-btn">Home</button>
</div>
</div>
</section>
-->
    <% for (let i=0; i < log.length; i++) { %>
        <section id="about">
            <div class="container" style="margin-bottom: 30px;">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="<%-log[i].image%>" class="img-fluid">
                    </div>
                    <div class="col-md-6 text-justify">
                        <h3>
                            <%-log[i].activityName%>
                        </h3>
                        <p>
                            <%-log[i].date%>
                        </p>
                        <p>
                            <%-log[i].description%>
                        </p>
                    </div>

                </div>
        </section>
        <% } %>
            <script>
                $(window).load(function () {
                    // init Isotope
                    var $projects = $('.projects').isotope({
                        itemSelector: '.project',
                        layoutMode: 'fitRows'
                    });
                    $(".filter-btn").click(function () {
                        var data_filter = $(this).attr("data-filter");
                        $projects.isotope({
                            filter: data_filter
                        });
                        $(".filter-btn").removeClass("active");
                        $(".filter-btn").removeClass("shadow");
                        $(this).addClass("active");
                        $(this).addClass("shadow");
                        return false;
                    });
                });
            </script>
            <!-- Start of ChatBot (www.chatbot.com) code -->
            <script type="text/javascript">
                window.__be = window.__be || {};
                window.__be.id = "607bc4987831760007ed872d";
                (function () {
                    var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
                    be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
                })();
            </script>
            <!-- End of ChatBot code -->
</body>

</html>