<!DOCTYPE html>
    <head>
        <script src="./signup.js"></script>
    </head>
    <html>
    <body>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username"><br>

            <label for="password">Password:</label><br>
            <input type="text" id="password"><br><br>

            <button type="button" onclick="login()">Submit</button>
        </form>

    </body>
</html>