.welcome
{
    padding: 100px 150px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}
.welcome h1{
    color: #333;
}
.welcome .home-btn
{
    margin-top: 10px;
        padding: 10px 30px;
        border-radius: 30px;
        color: #fff;
        background-color: #013f7e;
}
.welcome .btn:focus{
    box-shadow: none;
}
#about
{
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6
{
    padding: 20px 10px;
}
#about h3{
    margin: 20px auto;
}